.QuestionCard {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10%;
  border: 1px solid lightgray;
}
.BtnDiv {
  text-align: center;
}
.Btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}
.Btn:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}
.Result {
  font-size: 20px;
  padding: 1%;
}
